body {
    font-family: "Old Standard TT";
    background-color: #121212;
    color: #FAF9F6;
    overflow: hidden;
}

.dark {
    color: #121212;
}

.canv {
    width: 100%;
    height: 100%;
    position: absolute;
}